---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Things i experienced in 2024"
	description="A 2024 retrospective"
	pubDate={new Date('January 29 2024')}
  heroImage="/blog-placeholder-about.jpg"
>

  <h1>2024!</h1>
  <h2>January</h2>
  <ul>
    <li>Final Fantasy VII - great game! Waiting for FFVII Rebirth</li>
  </ul>
</Layout>
