---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A simple sysadmin/developer"
	pubDate={new Date('December 01 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		My name is Alejandro Cruz, I am from Chile and i graduated in 2022 from Duoc UC as a software engineer (Ingenieria en informática). I currently work as a sysadmin. I like linux and i heavily use it on my job along with python.
As for my hobbies i like videogames, tech, reading travelling.
	</p>

</Layout>
